.grid-pane > * {
    -fx-border-color: transparent transparent #DADADA transparent;
    -fx-border-width: 2px;

    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 2 0;
}

.grid-pane > .button > * {
    -fx-opacity: 0.5;
}

/*  Hover   */
.grid-pane > .button:hover {
    -fx-background-color: #e0e0e0;
}
.grid-pane > .button:hover > * {
    -fx-opacity: 1.0;
}

/*  Focused */
.grid-pane > .button:focused {
     -fx-background-color: #9e9e9e;
}
.grid-pane > .button:focused > * {
     -fx-opacity: 1.0;
}